<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa.mapper.ProductsMapper" >
  <resultMap id="BaseResultMap" type="com.xa.pojo.Products" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="mpid" property="mpid" jdbcType="INTEGER" />
    <result column="productname" property="productname" jdbcType="VARCHAR" />
    <result column="pstart" property="pstart" jdbcType="VARCHAR" />
    <result column="plimit" property="plimit" jdbcType="VARCHAR" />
    <result column="pearnings" property="pearnings" jdbcType="VARCHAR" />
    <result column="netvalue" property="netvalue" jdbcType="VARCHAR" />
    <result column="pstaus" property="pstaus" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="trustee" property="trustee" jdbcType="VARCHAR" />
    <result column="adviser" property="adviser" jdbcType="VARCHAR" />
    <result column="broker" property="broker" jdbcType="VARCHAR" />
    <result column="pdeadline" property="pdeadline" jdbcType="VARCHAR" />
    <result column="lineof" property="lineof" jdbcType="VARCHAR" />
    <result column="lossline" property="lossline" jdbcType="VARCHAR" />
    <result column="signingperiod" property="signingperiod" jdbcType="VARCHAR" />
    <result column="enddate" property="enddate" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="financing" property="financing" jdbcType="VARCHAR" />
    <result column="financingname" property="financingname" jdbcType="VARCHAR" />
    <result column="raiseway" property="raiseway" jdbcType="VARCHAR" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="reservationstart" property="reservationstart" jdbcType="VARCHAR" />
    <result column="reservationend" property="reservationend" jdbcType="VARCHAR" />
    <result column="currentnetworth" property="currentnetworth" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="phighlights" property="phighlights" jdbcType="VARCHAR" />
    <result column="mobility" property="mobility" jdbcType="VARCHAR" />
    <result column="joinmoney" property="joinmoney" jdbcType="VARCHAR" />
    <result column="coststructure" property="coststructure" jdbcType="VARCHAR" />
    <result column="distribution" property="distribution" jdbcType="VARCHAR" />
    <result column="pdetail" property="pdetail" jdbcType="VARCHAR" />
    <result column="pevaluation" property="pevaluation" jdbcType="VARCHAR" />
    <result column="pmaterial" property="pmaterial" jdbcType="VARCHAR" />
    <result column="goals" property="goals" jdbcType="VARCHAR" />
    <result column="investmentscope" property="investmentscope" jdbcType="VARCHAR" />
    <result column="redundancyone" property="redundancyone" jdbcType="VARCHAR" />
    <result column="redundancytwo" property="redundancytwo" jdbcType="VARCHAR" />
    <result column="redundancythr" property="redundancythr" jdbcType="VARCHAR" />
    <result column="ptype" property="ptype" jdbcType="VARCHAR" />
    <result column="riskgrade" property="riskgrade" jdbcType="VARCHAR" />
    <result column="biddeadline" property="biddeadline" jdbcType="VARCHAR" />
    <result column="prodel" property="prodel" jdbcType="INTEGER" />
    <association property="orderlist" column="pid" select="com.xa.mapper.OrderlistMapper.selectByPid"></association>

  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pid, mpid, productname, pstart, plimit, pearnings, netvalue, pstaus, company, grade, 
    organization, trustee, adviser, broker, pdeadline, lineof, lossline, signingperiod, 
    enddate, currency, financing, financingname, raiseway, payment, reservationstart, 
    reservationend, currentnetworth, frequency, phighlights, mobility, joinmoney, coststructure, 
    distribution, pdetail, pevaluation, pmaterial, goals, investmentscope, redundancyone, 
    redundancytwo, redundancythr, ptype, riskgrade, biddeadline, prodel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xa.pojo.ProductsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from products
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from products
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <!--根据三个字段查询-->
  <select id="selectByField" resultType="products">
    select
      <include refid="Base_Column_List" />
      from products
    <where>
      <if test="ptype != null">
        ptype=#{ptype}
      </if>
      <if test="riskgrade != null">
        and riskgrade=#{riskgrade}
      </if>
      <if test="biddeadline != null">
        and biddeadline=#{biddeadline}
      </if>
    </where>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from products
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xa.pojo.ProductsExample" >
    delete from products
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xa.pojo.Products" >
    insert into products (pid, mpid, productname, 
      pstart, plimit, pearnings, 
      netvalue, pstaus, company, 
      grade, organization, trustee, 
      adviser, broker, pdeadline, 
      lineof, lossline, signingperiod, 
      enddate, currency, financing, 
      financingname, raiseway, payment, 
      reservationstart, reservationend, currentnetworth, 
      frequency, phighlights, mobility, 
      joinmoney, coststructure, distribution, 
      pdetail, pevaluation, pmaterial, 
      goals, investmentscope, redundancyone, 
      redundancytwo, redundancythr, ptype, 
      riskgrade, biddeadline, prodel
      )
    values (#{pid,jdbcType=INTEGER}, #{mpid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, 
      #{pstart,jdbcType=VARCHAR}, #{plimit,jdbcType=VARCHAR}, #{pearnings,jdbcType=VARCHAR}, 
      #{netvalue,jdbcType=VARCHAR}, #{pstaus,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, #{trustee,jdbcType=VARCHAR}, 
      #{adviser,jdbcType=VARCHAR}, #{broker,jdbcType=VARCHAR}, #{pdeadline,jdbcType=VARCHAR}, 
      #{lineof,jdbcType=VARCHAR}, #{lossline,jdbcType=VARCHAR}, #{signingperiod,jdbcType=VARCHAR}, 
      #{enddate,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{financing,jdbcType=VARCHAR}, 
      #{financingname,jdbcType=VARCHAR}, #{raiseway,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR}, 
      #{reservationstart,jdbcType=VARCHAR}, #{reservationend,jdbcType=VARCHAR}, #{currentnetworth,jdbcType=VARCHAR}, 
      #{frequency,jdbcType=VARCHAR}, #{phighlights,jdbcType=VARCHAR}, #{mobility,jdbcType=VARCHAR}, 
      #{joinmoney,jdbcType=VARCHAR}, #{coststructure,jdbcType=VARCHAR}, #{distribution,jdbcType=VARCHAR}, 
      #{pdetail,jdbcType=VARCHAR}, #{pevaluation,jdbcType=VARCHAR}, #{pmaterial,jdbcType=VARCHAR}, 
      #{goals,jdbcType=VARCHAR}, #{investmentscope,jdbcType=VARCHAR}, #{redundancyone,jdbcType=VARCHAR}, 
      #{redundancytwo,jdbcType=VARCHAR}, #{redundancythr,jdbcType=VARCHAR}, #{ptype,jdbcType=VARCHAR}, 
      #{riskgrade,jdbcType=VARCHAR}, #{biddeadline,jdbcType=VARCHAR}, #{prodel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xa.pojo.Products" >
    insert into products
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="mpid != null" >
        mpid,
      </if>
      <if test="productname != null" >
        productname,
      </if>
      <if test="pstart != null" >
        pstart,
      </if>
      <if test="plimit != null" >
        plimit,
      </if>
      <if test="pearnings != null" >
        pearnings,
      </if>
      <if test="netvalue != null" >
        netvalue,
      </if>
      <if test="pstaus != null" >
        pstaus,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="trustee != null" >
        trustee,
      </if>
      <if test="adviser != null" >
        adviser,
      </if>
      <if test="broker != null" >
        broker,
      </if>
      <if test="pdeadline != null" >
        pdeadline,
      </if>
      <if test="lineof != null" >
        lineof,
      </if>
      <if test="lossline != null" >
        lossline,
      </if>
      <if test="signingperiod != null" >
        signingperiod,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="financing != null" >
        financing,
      </if>
      <if test="financingname != null" >
        financingname,
      </if>
      <if test="raiseway != null" >
        raiseway,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="reservationstart != null" >
        reservationstart,
      </if>
      <if test="reservationend != null" >
        reservationend,
      </if>
      <if test="currentnetworth != null" >
        currentnetworth,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="phighlights != null" >
        phighlights,
      </if>
      <if test="mobility != null" >
        mobility,
      </if>
      <if test="joinmoney != null" >
        joinmoney,
      </if>
      <if test="coststructure != null" >
        coststructure,
      </if>
      <if test="distribution != null" >
        distribution,
      </if>
      <if test="pdetail != null" >
        pdetail,
      </if>
      <if test="pevaluation != null" >
        pevaluation,
      </if>
      <if test="pmaterial != null" >
        pmaterial,
      </if>
      <if test="goals != null" >
        goals,
      </if>
      <if test="investmentscope != null" >
        investmentscope,
      </if>
      <if test="redundancyone != null" >
        redundancyone,
      </if>
      <if test="redundancytwo != null" >
        redundancytwo,
      </if>
      <if test="redundancythr != null" >
        redundancythr,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
      <if test="riskgrade != null" >
        riskgrade,
      </if>
      <if test="biddeadline != null" >
        biddeadline,
      </if>
      <if test="prodel != null" >
        prodel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="mpid != null" >
        #{mpid,jdbcType=INTEGER},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="pstart != null" >
        #{pstart,jdbcType=VARCHAR},
      </if>
      <if test="plimit != null" >
        #{plimit,jdbcType=VARCHAR},
      </if>
      <if test="pearnings != null" >
        #{pearnings,jdbcType=VARCHAR},
      </if>
      <if test="netvalue != null" >
        #{netvalue,jdbcType=VARCHAR},
      </if>
      <if test="pstaus != null" >
        #{pstaus,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="trustee != null" >
        #{trustee,jdbcType=VARCHAR},
      </if>
      <if test="adviser != null" >
        #{adviser,jdbcType=VARCHAR},
      </if>
      <if test="broker != null" >
        #{broker,jdbcType=VARCHAR},
      </if>
      <if test="pdeadline != null" >
        #{pdeadline,jdbcType=VARCHAR},
      </if>
      <if test="lineof != null" >
        #{lineof,jdbcType=VARCHAR},
      </if>
      <if test="lossline != null" >
        #{lossline,jdbcType=VARCHAR},
      </if>
      <if test="signingperiod != null" >
        #{signingperiod,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="financing != null" >
        #{financing,jdbcType=VARCHAR},
      </if>
      <if test="financingname != null" >
        #{financingname,jdbcType=VARCHAR},
      </if>
      <if test="raiseway != null" >
        #{raiseway,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="reservationstart != null" >
        #{reservationstart,jdbcType=VARCHAR},
      </if>
      <if test="reservationend != null" >
        #{reservationend,jdbcType=VARCHAR},
      </if>
      <if test="currentnetworth != null" >
        #{currentnetworth,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="phighlights != null" >
        #{phighlights,jdbcType=VARCHAR},
      </if>
      <if test="mobility != null" >
        #{mobility,jdbcType=VARCHAR},
      </if>
      <if test="joinmoney != null" >
        #{joinmoney,jdbcType=VARCHAR},
      </if>
      <if test="coststructure != null" >
        #{coststructure,jdbcType=VARCHAR},
      </if>
      <if test="distribution != null" >
        #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="pdetail != null" >
        #{pdetail,jdbcType=VARCHAR},
      </if>
      <if test="pevaluation != null" >
        #{pevaluation,jdbcType=VARCHAR},
      </if>
      <if test="pmaterial != null" >
        #{pmaterial,jdbcType=VARCHAR},
      </if>
      <if test="goals != null" >
        #{goals,jdbcType=VARCHAR},
      </if>
      <if test="investmentscope != null" >
        #{investmentscope,jdbcType=VARCHAR},
      </if>
      <if test="redundancyone != null" >
        #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="riskgrade != null" >
        #{riskgrade,jdbcType=VARCHAR},
      </if>
      <if test="biddeadline != null" >
        #{biddeadline,jdbcType=VARCHAR},
      </if>
      <if test="prodel != null" >
        #{prodel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xa.pojo.ProductsExample" resultType="java.lang.Integer" >
    select count(*) from products
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update products
    <set >
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.mpid != null" >
        mpid = #{record.mpid,jdbcType=INTEGER},
      </if>
      <if test="record.productname != null" >
        productname = #{record.productname,jdbcType=VARCHAR},
      </if>
      <if test="record.pstart != null" >
        pstart = #{record.pstart,jdbcType=VARCHAR},
      </if>
      <if test="record.plimit != null" >
        plimit = #{record.plimit,jdbcType=VARCHAR},
      </if>
      <if test="record.pearnings != null" >
        pearnings = #{record.pearnings,jdbcType=VARCHAR},
      </if>
      <if test="record.netvalue != null" >
        netvalue = #{record.netvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.pstaus != null" >
        pstaus = #{record.pstaus,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.organization != null" >
        organization = #{record.organization,jdbcType=VARCHAR},
      </if>
      <if test="record.trustee != null" >
        trustee = #{record.trustee,jdbcType=VARCHAR},
      </if>
      <if test="record.adviser != null" >
        adviser = #{record.adviser,jdbcType=VARCHAR},
      </if>
      <if test="record.broker != null" >
        broker = #{record.broker,jdbcType=VARCHAR},
      </if>
      <if test="record.pdeadline != null" >
        pdeadline = #{record.pdeadline,jdbcType=VARCHAR},
      </if>
      <if test="record.lineof != null" >
        lineof = #{record.lineof,jdbcType=VARCHAR},
      </if>
      <if test="record.lossline != null" >
        lossline = #{record.lossline,jdbcType=VARCHAR},
      </if>
      <if test="record.signingperiod != null" >
        signingperiod = #{record.signingperiod,jdbcType=VARCHAR},
      </if>
      <if test="record.enddate != null" >
        enddate = #{record.enddate,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.financing != null" >
        financing = #{record.financing,jdbcType=VARCHAR},
      </if>
      <if test="record.financingname != null" >
        financingname = #{record.financingname,jdbcType=VARCHAR},
      </if>
      <if test="record.raiseway != null" >
        raiseway = #{record.raiseway,jdbcType=VARCHAR},
      </if>
      <if test="record.payment != null" >
        payment = #{record.payment,jdbcType=VARCHAR},
      </if>
      <if test="record.reservationstart != null" >
        reservationstart = #{record.reservationstart,jdbcType=VARCHAR},
      </if>
      <if test="record.reservationend != null" >
        reservationend = #{record.reservationend,jdbcType=VARCHAR},
      </if>
      <if test="record.currentnetworth != null" >
        currentnetworth = #{record.currentnetworth,jdbcType=VARCHAR},
      </if>
      <if test="record.frequency != null" >
        frequency = #{record.frequency,jdbcType=VARCHAR},
      </if>
      <if test="record.phighlights != null" >
        phighlights = #{record.phighlights,jdbcType=VARCHAR},
      </if>
      <if test="record.mobility != null" >
        mobility = #{record.mobility,jdbcType=VARCHAR},
      </if>
      <if test="record.joinmoney != null" >
        joinmoney = #{record.joinmoney,jdbcType=VARCHAR},
      </if>
      <if test="record.coststructure != null" >
        coststructure = #{record.coststructure,jdbcType=VARCHAR},
      </if>
      <if test="record.distribution != null" >
        distribution = #{record.distribution,jdbcType=VARCHAR},
      </if>
      <if test="record.pdetail != null" >
        pdetail = #{record.pdetail,jdbcType=VARCHAR},
      </if>
      <if test="record.pevaluation != null" >
        pevaluation = #{record.pevaluation,jdbcType=VARCHAR},
      </if>
      <if test="record.pmaterial != null" >
        pmaterial = #{record.pmaterial,jdbcType=VARCHAR},
      </if>
      <if test="record.goals != null" >
        goals = #{record.goals,jdbcType=VARCHAR},
      </if>
      <if test="record.investmentscope != null" >
        investmentscope = #{record.investmentscope,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancyone != null" >
        redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancytwo != null" >
        redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancythr != null" >
        redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="record.ptype != null" >
        ptype = #{record.ptype,jdbcType=VARCHAR},
      </if>
      <if test="record.riskgrade != null" >
        riskgrade = #{record.riskgrade,jdbcType=VARCHAR},
      </if>
      <if test="record.biddeadline != null" >
        biddeadline = #{record.biddeadline,jdbcType=VARCHAR},
      </if>
      <if test="record.prodel != null" >
        prodel = #{record.prodel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update products
    set pid = #{record.pid,jdbcType=INTEGER},
      mpid = #{record.mpid,jdbcType=INTEGER},
      productname = #{record.productname,jdbcType=VARCHAR},
      pstart = #{record.pstart,jdbcType=VARCHAR},
      plimit = #{record.plimit,jdbcType=VARCHAR},
      pearnings = #{record.pearnings,jdbcType=VARCHAR},
      netvalue = #{record.netvalue,jdbcType=VARCHAR},
      pstaus = #{record.pstaus,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      organization = #{record.organization,jdbcType=VARCHAR},
      trustee = #{record.trustee,jdbcType=VARCHAR},
      adviser = #{record.adviser,jdbcType=VARCHAR},
      broker = #{record.broker,jdbcType=VARCHAR},
      pdeadline = #{record.pdeadline,jdbcType=VARCHAR},
      lineof = #{record.lineof,jdbcType=VARCHAR},
      lossline = #{record.lossline,jdbcType=VARCHAR},
      signingperiod = #{record.signingperiod,jdbcType=VARCHAR},
      enddate = #{record.enddate,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=VARCHAR},
      financing = #{record.financing,jdbcType=VARCHAR},
      financingname = #{record.financingname,jdbcType=VARCHAR},
      raiseway = #{record.raiseway,jdbcType=VARCHAR},
      payment = #{record.payment,jdbcType=VARCHAR},
      reservationstart = #{record.reservationstart,jdbcType=VARCHAR},
      reservationend = #{record.reservationend,jdbcType=VARCHAR},
      currentnetworth = #{record.currentnetworth,jdbcType=VARCHAR},
      frequency = #{record.frequency,jdbcType=VARCHAR},
      phighlights = #{record.phighlights,jdbcType=VARCHAR},
      mobility = #{record.mobility,jdbcType=VARCHAR},
      joinmoney = #{record.joinmoney,jdbcType=VARCHAR},
      coststructure = #{record.coststructure,jdbcType=VARCHAR},
      distribution = #{record.distribution,jdbcType=VARCHAR},
      pdetail = #{record.pdetail,jdbcType=VARCHAR},
      pevaluation = #{record.pevaluation,jdbcType=VARCHAR},
      pmaterial = #{record.pmaterial,jdbcType=VARCHAR},
      goals = #{record.goals,jdbcType=VARCHAR},
      investmentscope = #{record.investmentscope,jdbcType=VARCHAR},
      redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      ptype = #{record.ptype,jdbcType=VARCHAR},
      riskgrade = #{record.riskgrade,jdbcType=VARCHAR},
      biddeadline = #{record.biddeadline,jdbcType=VARCHAR},
      prodel = #{record.prodel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa.pojo.Products" >
    update products
    <set >
      <if test="mpid != null" >
        mpid = #{mpid,jdbcType=INTEGER},
      </if>
      <if test="productname != null" >
        productname = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="pstart != null" >
        pstart = #{pstart,jdbcType=VARCHAR},
      </if>
      <if test="plimit != null" >
        plimit = #{plimit,jdbcType=VARCHAR},
      </if>
      <if test="pearnings != null" >
        pearnings = #{pearnings,jdbcType=VARCHAR},
      </if>
      <if test="netvalue != null" >
        netvalue = #{netvalue,jdbcType=VARCHAR},
      </if>
      <if test="pstaus != null" >
        pstaus = #{pstaus,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="trustee != null" >
        trustee = #{trustee,jdbcType=VARCHAR},
      </if>
      <if test="adviser != null" >
        adviser = #{adviser,jdbcType=VARCHAR},
      </if>
      <if test="broker != null" >
        broker = #{broker,jdbcType=VARCHAR},
      </if>
      <if test="pdeadline != null" >
        pdeadline = #{pdeadline,jdbcType=VARCHAR},
      </if>
      <if test="lineof != null" >
        lineof = #{lineof,jdbcType=VARCHAR},
      </if>
      <if test="lossline != null" >
        lossline = #{lossline,jdbcType=VARCHAR},
      </if>
      <if test="signingperiod != null" >
        signingperiod = #{signingperiod,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="financing != null" >
        financing = #{financing,jdbcType=VARCHAR},
      </if>
      <if test="financingname != null" >
        financingname = #{financingname,jdbcType=VARCHAR},
      </if>
      <if test="raiseway != null" >
        raiseway = #{raiseway,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="reservationstart != null" >
        reservationstart = #{reservationstart,jdbcType=VARCHAR},
      </if>
      <if test="reservationend != null" >
        reservationend = #{reservationend,jdbcType=VARCHAR},
      </if>
      <if test="currentnetworth != null" >
        currentnetworth = #{currentnetworth,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="phighlights != null" >
        phighlights = #{phighlights,jdbcType=VARCHAR},
      </if>
      <if test="mobility != null" >
        mobility = #{mobility,jdbcType=VARCHAR},
      </if>
      <if test="joinmoney != null" >
        joinmoney = #{joinmoney,jdbcType=VARCHAR},
      </if>
      <if test="coststructure != null" >
        coststructure = #{coststructure,jdbcType=VARCHAR},
      </if>
      <if test="distribution != null" >
        distribution = #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="pdetail != null" >
        pdetail = #{pdetail,jdbcType=VARCHAR},
      </if>
      <if test="pevaluation != null" >
        pevaluation = #{pevaluation,jdbcType=VARCHAR},
      </if>
      <if test="pmaterial != null" >
        pmaterial = #{pmaterial,jdbcType=VARCHAR},
      </if>
      <if test="goals != null" >
        goals = #{goals,jdbcType=VARCHAR},
      </if>
      <if test="investmentscope != null" >
        investmentscope = #{investmentscope,jdbcType=VARCHAR},
      </if>
      <if test="redundancyone != null" >
        redundancyone = #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        redundancythr = #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="riskgrade != null" >
        riskgrade = #{riskgrade,jdbcType=VARCHAR},
      </if>
      <if test="biddeadline != null" >
        biddeadline = #{biddeadline,jdbcType=VARCHAR},
      </if>
      <if test="prodel != null" >
        prodel = #{prodel,jdbcType=INTEGER},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa.pojo.Products" >
    update products
    set mpid = #{mpid,jdbcType=INTEGER},
      productname = #{productname,jdbcType=VARCHAR},
      pstart = #{pstart,jdbcType=VARCHAR},
      plimit = #{plimit,jdbcType=VARCHAR},
      pearnings = #{pearnings,jdbcType=VARCHAR},
      netvalue = #{netvalue,jdbcType=VARCHAR},
      pstaus = #{pstaus,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      trustee = #{trustee,jdbcType=VARCHAR},
      adviser = #{adviser,jdbcType=VARCHAR},
      broker = #{broker,jdbcType=VARCHAR},
      pdeadline = #{pdeadline,jdbcType=VARCHAR},
      lineof = #{lineof,jdbcType=VARCHAR},
      lossline = #{lossline,jdbcType=VARCHAR},
      signingperiod = #{signingperiod,jdbcType=VARCHAR},
      enddate = #{enddate,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      financing = #{financing,jdbcType=VARCHAR},
      financingname = #{financingname,jdbcType=VARCHAR},
      raiseway = #{raiseway,jdbcType=VARCHAR},
      payment = #{payment,jdbcType=VARCHAR},
      reservationstart = #{reservationstart,jdbcType=VARCHAR},
      reservationend = #{reservationend,jdbcType=VARCHAR},
      currentnetworth = #{currentnetworth,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=VARCHAR},
      phighlights = #{phighlights,jdbcType=VARCHAR},
      mobility = #{mobility,jdbcType=VARCHAR},
      joinmoney = #{joinmoney,jdbcType=VARCHAR},
      coststructure = #{coststructure,jdbcType=VARCHAR},
      distribution = #{distribution,jdbcType=VARCHAR},
      pdetail = #{pdetail,jdbcType=VARCHAR},
      pevaluation = #{pevaluation,jdbcType=VARCHAR},
      pmaterial = #{pmaterial,jdbcType=VARCHAR},
      goals = #{goals,jdbcType=VARCHAR},
      investmentscope = #{investmentscope,jdbcType=VARCHAR},
      redundancyone = #{redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{redundancythr,jdbcType=VARCHAR},
      ptype = #{ptype,jdbcType=VARCHAR},
      riskgrade = #{riskgrade,jdbcType=VARCHAR},
      biddeadline = #{biddeadline,jdbcType=VARCHAR},
      prodel = #{prodel,jdbcType=INTEGER}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>