<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa.mapper.VerificationtableMapper" >
  <resultMap id="BaseResultMap" type="com.xa.pojo.Verificationtable" >
    <id column="vid" property="vid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="identitycardnumber" property="identitycardnumber" jdbcType="VARCHAR" />
    <result column="Identitycardphoto" property="identitycardphoto" jdbcType="VARCHAR" />
    <result column="authenticationstatus" property="authenticationstatus" jdbcType="INTEGER" />
    <result column="cellphonenumber" property="cellphonenumber" jdbcType="VARCHAR" />
    <result column="phonestaus" property="phonestaus" jdbcType="INTEGER" />
    <result column="emile" property="emile" jdbcType="VARCHAR" />
    <result column="emilestaus" property="emilestaus" jdbcType="INTEGER" />
    <result column="redundancyone" property="redundancyone" jdbcType="VARCHAR" />
    <result column="redundancytwo" property="redundancytwo" jdbcType="VARCHAR" />
    <result column="redundancythr" property="redundancythr" jdbcType="VARCHAR" />
    <result column="verdel" property="verdel" jdbcType="INTEGER" />
  </resultMap>


  <!--自生成updateVerificationtable-->
  <update id="updateVerificationtable" parameterType="com.xa.pojo.Verificationtable" >
    update verificationtable
    <set >
      <if test="cellphonenumber != null" >
        cellphonenumber = #{cellphonenumber,jdbcType=VARCHAR},
      </if>

      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="identitycardnumber != null" >
        identitycardnumber = #{identitycardnumber,jdbcType=VARCHAR},
      </if>
      <if test="identitycardphoto != null" >
        Identitycardphoto = #{identitycardphoto,jdbcType=VARCHAR},
      </if>
      <if test="authenticationstatus != null" >
        authenticationstatus = #{authenticationstatus,jdbcType=INTEGER},
      </if>
      <if test="phonestaus != null" >
        phonestaus = #{phonestaus,jdbcType=INTEGER},
      </if>
      <if test="emile != null" >
        emile = #{emile,jdbcType=VARCHAR},
      </if>
      <if test="emilestaus != null" >
        emilestaus = #{emilestaus,jdbcType=INTEGER},
      </if>
      <if test="redundancytwo != null" >
        redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        redundancythr = #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="verdel != null" >
        verdel = #{verdel,jdbcType=INTEGER},
      </if>
    </set>
    where redundancyone = #{redundancyone,jdbcType=VARCHAR}
  </update>
  <select id="selectOneVerificationtable" parameterType="com.xa.pojo.Verificationtable" resultMap="BaseResultMap" >
        select
           vid,
           name,
           identitycardnumber,
           Identitycardphoto,
           authenticationstatus,
           cellphonenumber,
           phonestaus,
           emile,
           emilestaus,
           redundancyone,
           redundancytwo,
           redundancythr,
           verdel
        from verificationtable
        where redundancyone = #{redundancyone,jdbcType=VARCHAR}
      </select>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    vid, name, identitycardnumber, Identitycardphoto, authenticationstatus, cellphonenumber, 
    phonestaus, emile, emilestaus, redundancyone, redundancytwo, redundancythr, verdel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xa.pojo.VerificationtableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from verificationtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from verificationtable
    where vid = #{vid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from verificationtable
    where vid = #{vid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xa.pojo.VerificationtableExample" >
    delete from verificationtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xa.pojo.Verificationtable" >
    insert into verificationtable (vid, name, identitycardnumber, 
      Identitycardphoto, authenticationstatus, 
      cellphonenumber, phonestaus, emile, 
      emilestaus, redundancyone, redundancytwo, 
      redundancythr, verdel)
    values (#{vid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{identitycardnumber,jdbcType=VARCHAR}, 
      #{identitycardphoto,jdbcType=VARCHAR}, #{authenticationstatus,jdbcType=INTEGER}, 
      #{cellphonenumber,jdbcType=VARCHAR}, #{phonestaus,jdbcType=INTEGER}, #{emile,jdbcType=VARCHAR}, 
      #{emilestaus,jdbcType=INTEGER}, #{redundancyone,jdbcType=VARCHAR}, #{redundancytwo,jdbcType=VARCHAR}, 
      #{redundancythr,jdbcType=VARCHAR}, #{verdel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xa.pojo.Verificationtable" >
    insert into verificationtable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        vid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="identitycardnumber != null" >
        identitycardnumber,
      </if>
      <if test="identitycardphoto != null" >
        Identitycardphoto,
      </if>
      <if test="authenticationstatus != null" >
        authenticationstatus,
      </if>
      <if test="cellphonenumber != null" >
        cellphonenumber,
      </if>
      <if test="phonestaus != null" >
        phonestaus,
      </if>
      <if test="emile != null" >
        emile,
      </if>
      <if test="emilestaus != null" >
        emilestaus,
      </if>
      <if test="redundancyone != null" >
        redundancyone,
      </if>
      <if test="redundancytwo != null" >
        redundancytwo,
      </if>
      <if test="redundancythr != null" >
        redundancythr,
      </if>
      <if test="verdel != null" >
        verdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="identitycardnumber != null" >
        #{identitycardnumber,jdbcType=VARCHAR},
      </if>
      <if test="identitycardphoto != null" >
        #{identitycardphoto,jdbcType=VARCHAR},
      </if>
      <if test="authenticationstatus != null" >
        #{authenticationstatus,jdbcType=INTEGER},
      </if>
      <if test="cellphonenumber != null" >
        #{cellphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="phonestaus != null" >
        #{phonestaus,jdbcType=INTEGER},
      </if>
      <if test="emile != null" >
        #{emile,jdbcType=VARCHAR},
      </if>
      <if test="emilestaus != null" >
        #{emilestaus,jdbcType=INTEGER},
      </if>
      <if test="redundancyone != null" >
        #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="verdel != null" >
        #{verdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xa.pojo.VerificationtableExample" resultType="java.lang.Integer" >
    select count(*) from verificationtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update verificationtable
    <set >
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.identitycardnumber != null" >
        identitycardnumber = #{record.identitycardnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.identitycardphoto != null" >
        Identitycardphoto = #{record.identitycardphoto,jdbcType=VARCHAR},
      </if>
      <if test="record.authenticationstatus != null" >
        authenticationstatus = #{record.authenticationstatus,jdbcType=INTEGER},
      </if>
      <if test="record.cellphonenumber != null" >
        cellphonenumber = #{record.cellphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.phonestaus != null" >
        phonestaus = #{record.phonestaus,jdbcType=INTEGER},
      </if>
      <if test="record.emile != null" >
        emile = #{record.emile,jdbcType=VARCHAR},
      </if>
      <if test="record.emilestaus != null" >
        emilestaus = #{record.emilestaus,jdbcType=INTEGER},
      </if>
      <if test="record.redundancyone != null" >
        redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancytwo != null" >
        redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancythr != null" >
        redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="record.verdel != null" >
        verdel = #{record.verdel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update verificationtable
    set vid = #{record.vid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      identitycardnumber = #{record.identitycardnumber,jdbcType=VARCHAR},
      Identitycardphoto = #{record.identitycardphoto,jdbcType=VARCHAR},
      authenticationstatus = #{record.authenticationstatus,jdbcType=INTEGER},
      cellphonenumber = #{record.cellphonenumber,jdbcType=VARCHAR},
      phonestaus = #{record.phonestaus,jdbcType=INTEGER},
      emile = #{record.emile,jdbcType=VARCHAR},
      emilestaus = #{record.emilestaus,jdbcType=INTEGER},
      redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      verdel = #{record.verdel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa.pojo.Verificationtable" >
    update verificationtable
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="identitycardnumber != null" >
        identitycardnumber = #{identitycardnumber,jdbcType=VARCHAR},
      </if>
      <if test="identitycardphoto != null" >
        Identitycardphoto = #{identitycardphoto,jdbcType=VARCHAR},
      </if>
      <if test="authenticationstatus != null" >
        authenticationstatus = #{authenticationstatus,jdbcType=INTEGER},
      </if>
      <if test="cellphonenumber != null" >
        cellphonenumber = #{cellphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="phonestaus != null" >
        phonestaus = #{phonestaus,jdbcType=INTEGER},
      </if>
      <if test="emile != null" >
        emile = #{emile,jdbcType=VARCHAR},
      </if>
      <if test="emilestaus != null" >
        emilestaus = #{emilestaus,jdbcType=INTEGER},
      </if>
      <if test="redundancyone != null" >
        redundancyone = #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        redundancythr = #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="verdel != null" >
        verdel = #{verdel,jdbcType=INTEGER},
      </if>
    </set>
    where vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa.pojo.Verificationtable" >
    update verificationtable
    set name = #{name,jdbcType=VARCHAR},
      identitycardnumber = #{identitycardnumber,jdbcType=VARCHAR},
      Identitycardphoto = #{identitycardphoto,jdbcType=VARCHAR},
      authenticationstatus = #{authenticationstatus,jdbcType=INTEGER},
      cellphonenumber = #{cellphonenumber,jdbcType=VARCHAR},
      phonestaus = #{phonestaus,jdbcType=INTEGER},
      emile = #{emile,jdbcType=VARCHAR},
      emilestaus = #{emilestaus,jdbcType=INTEGER},
      redundancyone = #{redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{redundancythr,jdbcType=VARCHAR},
      verdel = #{verdel,jdbcType=INTEGER}
    where vid = #{vid,jdbcType=INTEGER}
  </update>
</mapper>